
.bg, .farbg, .midbg, .closebg{
  display: block;
  position: absolute;
  height: 300px;
  width: 200%;
  z-index: -1;
  background-repeat: repeat-x;
  background-position: left;
}

.bg{
  background-image: url('./layers/bg.png');
}
.farbg{
  background-image: url('./layers/far.png');
}
.midbg{
  background-image: url('./layers/mid.png');
}
.closebg{
  background-image: url('./layers/close.png');
}

.bgcontainer {
  overflow: hidden;
  position: relative;
  height: 240px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: repeat-x;
}

