
.bg, .farbg, .midbg, .closebg{
  display: block;
  position: absolute;
  height: 390px;
  width: 120%;
  z-index: -1;
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: contain;
}

.closebg{
  background-size: 50% 50%;
}

.bg{
  background-image: url('./layers/bg.png');
}
.farbg{
  background-image: url('./layers/far.png');
}
.midbg{
  background-image: url('./layers/med.png')
}
.closebg{
  background-image: url('./layers/close.png')
}
.bglogo{
  display: block;
  position: absolute;
  z-index: 1;
  background-size: contain;
  height: 250px;
  width: 300px;
  background-repeat: no-repeat;
  background-image: url('./layers/FOX.png')
}

.bgcontainer {
  overflow: hidden;
  position: relative;
  height: 340px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: repeat-x;
}

