
.bg, .farbg, .midbg, .closebg{
  position: absolute;
  height: 300px;
  width: 130%;
  z-index: -1;

}

.bgcontainer {
  position: relative;
  height: 240px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: repeat-x;
}